*{
    margin: 0;
    padding: 0;
}
/* =============navbar========== */
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1.5rem;
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.menubar{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.manu-icon{
   
    display: flex;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 1rem 1.6rem;
align-items: center;
justify-content: center;
}
/* .manu-icon .fa{
    margin-right: rem;
} */
.manu-icon > .fa{
    margin-left: 1rem;
}
#youtube{
    color: red;
    margin-left: 1rem;
    margin-right: 1rem;
}
.menu-item ul li {
    list-style: none;
    margin-right: 2rem;
    
    
}
.menu-item ul li a,.manu-icon p{
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
}
.nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon h2{
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 1rem;
}
.nav-icon span{
    color: #FF42A5;
}
.nav-icon img{
    width: 86.041px;
height: 40px;
}
/* ==============Banner=============== */
.banner{
display: flex;
align-items: center;
justify-content: space-around;
/* background-color:rgba(140, 87, 238, 0.03)  ; */
background-image: url(images/Group\ 14.png);
background-repeat: no-repeat;
background-size: contain;


}
.banner-heading{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}
.banner-icons{
    display: flex;
    align-items: center;
   
    margin-bottom: .8rem;
}
.banner-icons .fa{
    margin-right: .8rem;
}
.banner-icons p{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
text-transform: lowercase;
}
.banner-btn{
    margin-top: 2rem;
}
.btn-primary{
padding: 20px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
border: none;

color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
.btn-blue{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: none;

color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
.banner-left{
    display: flex;
    flex-direction: column;

    align-items: center;
  
}
.banner img{
    width: 40%;
}




/* ============----online games---============== */
/* .online-games{
    margin-top: 9rem;
}
.image-grid{
    margin: 40px 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    /* gap: 10px; */
  
}
.grid img{
    width: 420px;
    height: 320px;
    
}
.grid{
    padding: 20px;
    /* border: 2px solid red; */
}
.title{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.title-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;

}
.title-desp{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.image-grid-desp{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}

/* +=hover */
/* .dg-grid{
    position: relative;
}
.hover-bg{
    background-image: linear-gradient( rgb(211, 197, 197,0.0), rgb(212, 24, 24,0.0));
    width:50%;
    height:12%;
    z-index: 1;
} 
.hover-info{
    opacity: 0;
    margin-top: -300px;
 
    

.hover-bg{

    background-image: linear-gradient( rgb(211, 197, 197,0.0), rgb(212, 24, 24,0.0));
    width:50%;
    height:12%;
    transform: translate(0px,-76%); 
   
 } 
.dg-grid:hover .hover-bg{
    background-image: linear-gradient( rgb(51, 51, 51,0.5),rgb(51, 51, 51,0.5));
    border-radius: 10px;
    transition: 0.5s ease in ease-in-out;}
    


.hover-info{
    padding-top: 40px;
    width: 380px;
    height:290px;
    text-align: center;
    opacity:0;
    font-size: 18px;
    font-weight: 300px;
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.dg-grid:hover .hover-info{  
    opacity:1;
    transform:translateY(-10px);
    transition: transform 0.3s ;
}  */




/* new hover */

.grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
 align-items: center;
 justify-content: center;
    column-gap:4%;
    margin:25px; 
    /* margin-left: 80px; */
    /* row-gap: 80px; */
   
}
.dg-container{
  
    width: 100%;
    height: 360px; 
    /* box-shadow: 0px 7px 10px rgba(0,0,0,0.5);   */
    margin-bottom: 20px;
  
}
.dg-container img{
    width: 100%;
    height:360px;
    opacity: 1;
    
}
.hover-bg{

    background-image: linear-gradient( rgb(211, 197, 197,0.0), rgb(212, 24, 24,0.0));
    border-radius: 10px;
    width: 100%;
    height:360px;
    transform: translate(0px,-364px); 
   
}
.dg-container:hover .hover-bg{
    background-image: linear-gradient( rgb(51, 51, 51,0.5),rgb(51, 51, 51,0.5));
    transition: 0.5s ease in ease-in-out;
    /* rgb(211, 197, 197,0.5) */

}

.hover-info{
    padding-top: 40px;
    width: 240px;
  margin: 0 auto;
    text-align: center;
    opacity:0;
    font-size: 18px;
    font-weight: 300px;
    color: #fff;
   
    /* margin-left: 15px; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.hover-info .fa{
    margin-bottom: 6%;
    margin-top: 50%;
    font-size: 40px;
}
.hover-info h5{
    text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
color: #FF42A5 ;


}

.dg-container:hover .hover-info{  
    opacity:1;
    transform:translateY(-30px);
    transition: transform 0.3s ;
}


/* play instant */
.play-instant{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 100px;
}

.play-instant-imgback {
    width: 100%;
    position: relative;
}
.play-instant-overlap{
    width: 50%;
    position: absolute;
    margin-top: -17rem;
    margin-left: -8rem;
}
.title-extra{
    text-align: right;
}
.play-instat-left{
    padding: 10% 15% 10% 6%;
}

/* ==================icon section================ */
.icons-section{
    margin: 200px 20px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icon-flex{
    display: flex;
    align-items: center;
    justify-content: center;
   gap:15px;
   border:2px solid transparent;
   border-radius: 50px;
   padding: .4rem 1rem;
   cursor: pointer;
   
}
.icon-det{
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
.icon-flex:hover{
 
    border:2px solid #FF42A5 ;
   
}
.icon-det:hover{
    color:#FF42A5;
}

/* footer */
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #0B0223;
    color: #FFF;
    padding:100px  20px;
}
.footer-para{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:40px 30px;
}
.footer-para p{
    margin-right: 20px;
  
text-align: center;
font-family: Work Sans;
font-size: 18px;

font-weight: 600;
line-height: 40px;

}
.footer-para > p{
    margin-left: 20px;
}
.footer-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-icons .fa{
    font-size: 28px;
    color: #FFF;
}
#youtube-play{
    color: red;
}
.footer-icons a{
    margin-right: 10px;
}
.footer-icons > a{
    margin-left: 10px;
}
.footer-policy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 20px 20px 20px;
}
.footer-policy p{
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 40px;
}
.footer-policy > p{
    margin-left: 20px;
}

.footer-copyright{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




/* ////////////////////////////Resposive////////////////////////// */

/* $$$$$$$$$$------Mobile View---------$$$$$$$$$$$$$*/

@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        box-shadow: none;
        justify-content: center;
        padding: 0rem;
        margin-top: 2rem;
    }
.menubar{
    flex-direction: column;
}
.menubar ul{
    flex-direction: column;

}
.menubar ul li{
    margin-top: 1.5rem;
}
.menubar ul li:last-child{
    margin-bottom: 1.5rem;
}

.banner{
    margin: 20px 30px;
    flex-direction: column-reverse;
    background-image: none;
    
}
.banner img{
    width: 100%;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
   width: 90%;
   padding: 1rem;
}
.banner-heading{
    font-size: 35px;
}
.banner-title{
    font-size: 55px;
}
.banner-icons p{
    font-size: 16px;
}


.btn-primary{
    padding: 14px 20px;
}
.btn-blue{
    padding: 14px 20px;
}

/* online games */


.grid{
    grid-template-columns: repeat(1,1fr);
    margin: 15px 30px;
   
}
.title{
    font-size: 29px;
}
.title-span{
    font-size: 29px;
}
.title-desp{
    margin: 10px 30px;
    font-size: 14px;
}
.dg-container{
    width: 100%;
}
.dg-container img{
    width: 100%;
}
.hover-bg{
    width: 100%;
}

.image-grid-desp{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

/* play instat */
.play-instant{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.play-instat-left{
    margin: 10% 15%;
}

.play-instant-imgback {
    width: 70%;
    margin: 0 auto;
}
.play-instant-overlap{
    width: 50%;
    position: absolute;
    margin-top: -6.5rem;
    margin-left: -3rem;
}
.title-extra{
    text-align: center;
}
.play-instat-left{
    padding: 0;
}
.play-instant-imgback img{
    width: 100%;
    
}
/* icons */
.icons-section{
    margin: 100px 0px;
    gap: 2px;
}
.icon-flex{
    display: flex;
    align-items: center;
    justify-content: center;
   gap:0px;
   border:2px solid transparent;
   border-radius: 50px;
   padding: .1rem .5rem;
   cursor: pointer;
   
}
/* .icon{
    width: 50%;
    margin: 0 auto;
} */
.icon{
    display: flex;
    align-items:end;
}
.icon img{
    width: 50%;
    margin: 0 auto;
}

.icon-det{
   
font-size: 7px;
}
.icon-flex:hover{
 
    border:2px solid #FF42A5 ;
   
}
.icon-det:hover{
    color:#FF42A5;
}

.icons-section{
    margin: 100px 5px;
}
}


/* %%%%%%%%%%%%%%%%%%----Tablet View-----------%%%%%%%%%%%%% */

@media screen and (min-width:576px) and (max-width:1200px){
    nav{
        flex-direction: column;
        box-shadow: none;
        justify-content: center;
        padding: 0rem;
        margin-top: 2rem;
    }
.menubar{
    flex-direction: column;
}
.menubar ul{
    flex-direction: column;

}
.menubar ul li{
    margin-top: 1.5rem;
}
.menubar ul li:last-child{
    margin-bottom: 1.5rem;
}

.banner{
    flex-direction: column-reverse;
    background-image: none;
    
}
.banner img{
    width: 100%;
}
.banner-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FCF6FC; */
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
   width: 70%;
   padding: 2rem;
}
.banner-heading{
    font-size: 48px;
}
.banner-title{
    font-size: 95px;
}
.banner-icons p{
    font-size: 20px;
}

/* online games */
.grid{
    grid-template-columns: repeat(2,1fr);
    margin: 15px 30px;
   
}
.title{
    font-size: 29px;
}
.title-span{
    font-size: 29px;
}
.title-desp{
    margin: 10px 30px;
    font-size: 14px;
}
.dg-container{
    width: 100%;
}
.dg-container img{
    width: 100%;
}
.hover-bg{
    width: 100%;
}
.image-grid-desp{
    text-align: center;
    margin-bottom: 20px;
}


/* play instat */
.play-instant{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.play-instat-left{
    margin: 10% 15%;
}

.play-instant-imgback {
    width: 70%;
    margin: 0 auto;
}
.play-instant-overlap{
    width: 50%;
    position: absolute;
    margin-top: -9.5rem;
    margin-left: -6rem;
}
.title-extra{
    text-align: center;
}
.play-instat-left{
    padding: 0;
}
.play-instant-imgback img{
    width: 100%;
    
}







}